.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


.jumbotron {
	background-color:#009999;
	color:#ffffff;
	padding: 120px 25px;
}

#title {
	font-family:"Oxygen", sans-serif;
}

p {
	font-family:'Arimo';
	font-size:20px;
}

.container-fluid {
	 padding: 60px 50px;
}

h1 {
	font-family: 'Righteous';
}

.logo {
    font-size: 200px;
	color: #0099AA;
}

.logo-small {
	font-size: 50px;
	color:#0099AA;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.gwlogo{
	float:center;
	margin-left:50px;
	width:65%;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #0099AA;
}

.carousel-indicators li {
    border-color: #0099AA;
}

.carousel-indicators li.active {
    background-color: #0099AA;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}