.navbar {
	background-color:black;
	color:white;
}

.jumbotron {
	background-color:#002b80;
	color:#ffffff;
	 padding: 100px 25px;
}

#title {
	font-family:"Oxygen", sans-serif;
}

p {
	font-family:'Arimo';
	font-size:25px;
}

.container-fluid {
	 padding: 60px 50px;
}

.container-fluid p{
	font-family:'Arimo';
	font-size: 30px;
}

h1 {
	font-family: 'Righteous';
}

.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}